// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// izitoast
@import '~izitoast/dist/css/iziToast';

// select2
@import '~select2/dist/css/select2';

// textarea.form-control {
//     height: 64px !important;
// }

.badge-warning {
    background-color: #ffc107;
}

.form-control.edited {
    height: 100% !important;
} 

@import '~daterangepicker/daterangepicker';

@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}